9963776:                     Brightness:200
9963777:                       Contrast:32
9963778:                     Saturation:50
9963788:White Balance Temperature, Auto:0
9963795:                           Gain:255
9963800:           Power Line Frequency:2
9963802:      White Balance Temperature:250
9963803:                      Sharpness:191
9963804:         Backlight Compensation:1
10094849:                 Exposure, Auto:1
10094850:            Exposure (Absolute):305
10094851:        Exposure, Auto Priority:0
10094856:                 Pan (Absolute):0
10094857:                Tilt (Absolute):0
